figure.photo {
  float: left;
  display: table;
  img {
    height: 250px;
  }
  figurecaption {
    display: table-caption;
    caption-side: bottom;
    font-size: 70%;
  }
}
.inat_observation {
  #map {
    width: 250px;
    height: 250px;
  }
  h2 {
    clear: both;
  }
}
.inat_observation_single {  
  background-color: rgba(246, 246, 246, 0.8);
  //
  margin-top: 0px;  
  //border: 1px solid rgb(221, 221, 221);
  margin-bottom: 15px;
  //padding-left: 5px;
  display:block;
  //height: 500px;
  h2 {
    clear: both;
    font-size: 18px;
    margin-top: 5px;
  } 
  .photo_single {
    display: inline-block;
    margin: 15px;
    vertical-align: top;
    width: 45%;//300px;
    float: left;
    border-right: 1px solid rgb(221, 221, 221);
    figurecaption {    
      display: block;
    }
  }
  .obs_info {
    float: left;
    width: 45%;
    margin: 15px;
  }
  .localitzation {
    //border-right: none 0px;// 1px solid rgb(221, 221, 221);
    //display: inline-block;
    width:100%;// 327px;
    padding: 0px;
    //border-left: 1px solid;
    #map {
      width: auto;
      height: 200px;//281px; 
    }
    .label {
      font-style: italic;
    }
  }
}
.comment-wraper,
.ident-wraper {
  clear: both;
  border-top: 1px solid rgb(221, 221, 221);
  .title-wrap {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .comment {
    width: 100%;
    border-bottom: 1px solid rgb(221, 221, 221);
    &:last-of-type {
      border: none 0px;
    }
    .user-column {
      float: left;
      width: 25%;
    }
    .ident-column,
    .body-column {
      float: left;
      width: 70%;
      margin-left: 15px;
      margin-top: 10px;
      .comment-body {
        margin-bottom: 8px;
      }
      .taxo {
        float: left; 
        width: 60%;
        font-size: 14px;
        margin-top: 5px;
        margin-left: 20px;
        //border-top: 1px solid rgb(221, 221, 221);
      }
      .info {
        float: left;
        width: 60%;
        margin-top: 10px;
        margin-left: 20px;
      }
      .image {
        float: left;
        width: 30%;
        margin-left: 20px;
      }
    }
    .ident-column {
      border-top: 1px solid rgb(221, 221, 221);
    }
  }
}
.comment-wraper {
  margin-top: 15px;
  .comment {
    .ident-column {
      border: none 0px;
    }
  }
}
.comment-wraper,
.ident-wraper {
  box-shadow: 3px 3px 10px 3px grey;  
  padding: 15px;
  border-radius: 5px;
}
  
