
.inat_taxa.row {
    background-color: rgb(246, 246, 242);
    border: 1px solid rgb(230, 230, 230);
    display: inline-block;
    height: 350px;
    padding: 10px;
    vertical-align: top;
    width: 320px;
    .photo {
    display: inline;
    margin-left: 100px;
   }

}
