@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\000031}}
figure.photo {
  float: left;
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\000034}}
figure.photo img {
  height: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\000037}}
figure.photo figurecaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 70%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000316}}
.inat_observation #map {
  width: 250px;
  height: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000320}}
.inat_observation h2 {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000325}}
.inat_observation_single {
  background-color: rgba(246, 246, 246, 0.8);
  margin-top: 0px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  padding-left: 5px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000332}}
.inat_observation_single h2 {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000335}}
.inat_observation_single .photo_single {
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000340}}
.inat_observation_single .photo_single figurecaption {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000344}}
.inat_observation_single .localitzation {
  border-right: 1px solid #dddddd;
  display: inline-block;
  width: 327px;
  padding: 10px;
  border-left: 1px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000351}}
.inat_observation_single .localitzation #map {
  width: 250px;
  height: 281px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observation\.scss}line{font-family:\0000356}}
.inat_observation_single .localitzation .label {
  font-style: italic;
}
