/* line 3, ../sass/observations.scss */
.block-inat-obs .inat_observation {
  height: auto;
}
/* line 6, ../sass/observations.scss */
.block-inat-obs .inat_observation > div {
  padding-left: 0px;
}
/* line 11, ../sass/observations.scss */
.block-inat-obs .inat_observation .photo {
  padding-left: 0px;
}

/* line 21, ../sass/observations.scss */
.inat_observation {
  background-color: rgba(246, 246, 246, 0.8);
  margin-top: 0px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  padding: 10px;
  display: block;
  min-height: 160px;
  clear: both;
}
/* line 30, ../sass/observations.scss */
.inat_observation .photo {
  float: left;
  width: 150px;
  height: 100%;
  max-height: 150px;
  overflow: hidden;
  margin: 0 8px 2px 0;
  padding-left: 0px;
}
/* line 38, ../sass/observations.scss */
.inat_observation .photo .figure {
  margin-left: 3px;
  margin-right: 9px;
  width: 100%;
}
/* line 45, ../sass/observations.scss */
.inat_observation .photo img {
  width: 100%;
}
/* line 49, ../sass/observations.scss */
.inat_observation h2 {
  margin-top: 0px;
}
/* line 52, ../sass/observations.scss */
.inat_observation .description {
  text-decoration: italics;
}
/* line 55, ../sass/observations.scss */
.inat_observation > div {
  padding-left: 158px;
}
/* line 57, ../sass/observations.scss */
.inat_observation > div .label {
  font-style: italic;
}

/* line 62, ../sass/observations.scss */
.pager-wrapper {
  text-align: center;
}
