@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\000033}}
.block-inat-obs .inat_observation {
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\000036}}
.block-inat-obs .inat_observation > div {
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000311}}
.block-inat-obs .inat_observation .photo {
  padding-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000321}}
.inat_observation {
  background-color: rgba(246, 246, 246, 0.8);
  margin-top: 0px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  padding: 10px;
  display: block;
  min-height: 160px;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000330}}
.inat_observation .photo {
  float: left;
  width: 150px;
  height: 100%;
  max-height: 150px;
  overflow: hidden;
  margin: 0 8px 2px 0;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000338}}
.inat_observation .photo img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000342}}
.inat_observation h2 {
  margin-top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000345}}
.inat_observation .description {
  text-decoration: italics;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000348}}
.inat_observation > div {
  padding-left: 158px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000350}}
.inat_observation > div .label {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000355}}
.pager-wrapper {
  text-align: center;
}
