@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\000031}}
.inat_observation {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\000033}}
.inat_observation .photo {
  float: left;
  width: 150px;
  max-height: 150px;
  overflow: hidden;
  margin: 0 8px 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\000039}}
.inat_observation .photo img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/urraca1\/sites\/all\/modules\/inat\/modules\/inat_obs\/sass\/observations\.scss}line{font-family:\0000313}}
.inat_observation .description {
  text-decoration: italics;
}
