/* line 1, ../sass/projects.scss */
.inat_project {
  clear: both;
  margin-bottom: 18px;
  display: inline-block;
  height: 100%;
  min-height: 100px;
  width: 100%;
  border: 1px solid;
  border-color: #dddddd;
  background-color: rgba(246, 246, 246, 0.8);
}
/* line 12, ../sass/projects.scss */
.inat_project .photo {
  display: block;
  float: left;
  padding: 0 6px 3px 0px;
  margin-top: 12px;
  margin-left: 15px;
}
/* line 18, ../sass/projects.scss */
.inat_project .photo .no_photo > img {
  width: 80px;
}
/* line 22, ../sass/projects.scss */
.inat_project h2 {
  margin-top: 5px;
  margin-left: 15px;
}
/* line 26, ../sass/projects.scss */
.inat_project .description {
  margin-left: 15px;
}

/* line 30, ../sass/projects.scss */
.pager {
  text-align: center;
}
