/* line 2, ../sass/taxa.scss */
.inat_taxa.row {
  background-color: #f6f6f2;
  border: 1px solid #e6e6e6;
  display: inline-block;
  height: 350px;
  padding: 10px;
  vertical-align: top;
  width: 320px;
}
/* line 10, ../sass/taxa.scss */
.inat_taxa.row .photo {
  display: inline;
  margin-left: 100px;
}

/* line 16, ../sass/taxa.scss */
.inat_project.row {
  border: 1px solid #e2e2e2;
  padding-bottom: 10px;
}
/* line 19, ../sass/taxa.scss */
.inat_project.row .photo {
  float: right;
  margin-top: 35px;
  padding: 20px;
}
/* line 24, ../sass/taxa.scss */
.inat_project.row h2 {
  padding-left: 0px;
}
/* line 27, ../sass/taxa.scss */
.inat_project.row .description {
  padding-left: 10px;
  padding-bottom: 10px;
}
/* line 31, ../sass/taxa.scss */
.inat_project.row a {
  padding-left: 10px;
}
